In [1]:
'''
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Q4. What is DQL? Explain SELECT with an example.
Q5. Explain Primary Key and Foreign Key.
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Q7. Give the order of execution of SQL clauses in an SQL query.


1.SQL databases display data in form of tables so it is known as table-based database. \
NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores. 
SQL databases are vertically scalable
. NoSQL databases are horizontally scalable.


2.
DROP is a DDL(Data Definition Language) command and is used to remove table definition 
and indexes, data, constraints, triggers etc for that table. Performance-wise
the DROP command is quick to perform but slower than TRUNCATE because it gives rise to complications.
Unlike DELETE we can’t rollback the data after using the DROP command.
In the DROP command, table space is freed from memory because it permanently delete table as well as all its contents.

3.Data modification language statements (DML) INSERT, UPDATE, and DELETE.
Use the INSERT command to enter data into a table. You may insert one row at a time,
or select several rows from an existing table and insert them all at once.
VALUES ("5555555", "Jones", "Jane");


4.An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE )
that specify criteria. 
The syntax is: SELECT column1, column2 FROM table1, table2 WHERE column2='value


5.A primary key generally focuses on the uniqueness of the table. 
It assures the value in the specific column is unique. A foreign key is generally 
used to build a relationship between the two tables.



7.1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.
'''

'\nQ1. What is a database? Differentiate between SQL and NoSQL databases.\nQ2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.\nQ3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.\nQ4. What is DQL? Explain SELECT with an example.\nQ5. Explain Primary Key and Foreign Key.\nQ6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.\nQ7. Give the order of execution of SQL clauses in an SQL query.\n\n\n1.SQL databases display data in form of tables so it is known as table-based database. NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores. \nSQL databases are vertically scalable\n. NoSQL databases are horizontally scalable.\n\n\n2.\nDROP is a DDL(Data Definition Language) command and is used to remove table definition \nand indexes, data, constraints, triggers etc for that table. Performance-wise\nthe DROP command is quick to perform but slower than TRUNCATE because it gives rise to complications.\nUnlike DELETE we can’t rollback the data after using the DROP command.\nIn the DROP command, table space is freed from memory because it permanently delete table as well as all its contents.\n\n3.Data modification language statements (DML) INSERT, UPDATE, and DELETE.\nUse the INSERT command to enter data into a table. You may insert one row at a time,\nor select several rows from an existing table and insert them all at once.\nVALUES ("5555555", "Jones", "Jane");\n\n\n4.An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE )\nthat specify criteria. \nThe syntax is: SELECT column1, column2 FROM table1, table2 WHERE column2=\'value\n\n\n5.A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. A foreign key is generally used to build a relationship between the two tables.\n'